body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgoldenrod;
  border: 10px solid black;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  margin: 500 px 50 px 50 px 500 px;
}